<a href="https://colab.research.google.com/github/superbunny38/2021DataScience/blob/main/Datamining/Normalization_and_Euclidean_Distance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
Age = [25,56,65,32,41,49]
Income = [49000,156000,99000,192000,39000,57000]

In [4]:
table = pd.DataFrame({'Age':Age, 'Income':Income})
table.head()

   Age  Income
0   25   49000
1   56  156000
2   65   99000
3   32  192000
4   41   39000

# Normalization

In [7]:
mu_age = np.mean(table['Age'])
mu_income = np.mean(table['Income'])
print(mu_age, mu_income)

44.666666666666664 98666.66666666667

In [9]:
std_age = np.std(table['Age'])
std_income = np.std(table['Income'])
print(std_age, std_income)

13.670731102939918 57389.50736463552

from the scratch

In [11]:
scratch_std_age = [np.sqrt((np.mean([x**2 for x in table['Age']])-mu_age**2))]
scratch_std_age#같음

[13.670731102939929]

In [16]:
normalized_table = pd.DataFrame()
normalized_table['Age'] = [(x-mu_age)/std_age for x in table['Age']]
normalized_table['Income'] = [(x - mu_income)/std_income for x in table['Income']]

In [17]:
normalized_table.head()

        Age    Income
0 -1.438597 -0.865431
1  0.829022  0.999021
2  1.487363  0.005808
3 -0.926554  1.626314
4 -0.268213 -1.039679

In [18]:
np.mean(normalized_table['Age'])

1.8503717077085943e-16

In [20]:
np.mean(normalized_table['Income'])

-7.401486830834377e-17

In [25]:
table['Income'][1]

156000

In [28]:
def Euclidean(df,row_number1, row_number2):
  a1 = df['Age'][row_number1]
  b1 = df['Age'][row_number2]
  a2 = df['Income'][row_number1]
  b2 = df['Income'][row_number2]
  print(a1,b1,a2,b2)
  return np.sqrt((a1-b1)**2+(a2-b2)**2)

In [29]:
Euclidean(table,0,1)

25 56 49000 156000

107000.00449065412

In [30]:
Euclidean(normalized_table,0,1)

-1.4385965548278035 0.8290217434600904 -0.8654311379796265 0.999021179412723

2.9356899002721293